@model Web_Cafe.Models.Entities.User

@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="breadcrumb">
    <div class="container">
        <a href="/Home/Index" class="li">Trang chủ </a>
        <span class="li active">Tài khoản</span>
    </div>
</div>
@using (Html.BeginForm("EditPassword", "User", FormMethod.Post, new { @onsubmit = "return validateFormEdit()", @name = "myFormEdit" }))
{
    <div class="user-profile__wrap sec">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="sidebar-profile">
                        <div class="profiles">
                            <h3 class="headline" style="font-size: 18px;">Tài khoản của</h3>
                            <h3 class="username" style="font-size: 21px;">@Model.FullName</h3>
                        </div>
                        <div class="user-profile__menu">
                            <ul class="user-profile__menu__wrap">
                                <li class="user-profile__item">
                                    <a href="/User/Index" class="user-profile__link"><span class="-ap icon-user6 icon"></span> <span class="txt">Thông tin tài khoản</span></a>
                                </li>
                                <li class="user-profile__item active">
                                    <a href="#" class="user-profile__link"><i class="icon fa fa-key" aria-hidden="true"></i><span class="txt">Đổi mật khẩu</span></a>
                                </li>
                                <li class="user-profile__item">
                                    <a href="/User/OrderHistory" class="user-profile__link"><span class="-ap icon-file-text icon"></span> <span class="txt">Quản lý đơn hàng</span></a>
                                </li>
                                <li class="user-profile__item">
                                    <a href="/User/Logout" class="user-profile__link" onclick="return confirm('Bạn chắc chắn muốn đăng xuất?')"><i class="icon fa fa-sign-out" aria-hidden="true"></i><span class="txt">Đăng xuất</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="wrap__profile__info">
                        <h2 class="title-profile">Thay đổi mật khẩu</h2>
                        <div class="profile-content">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                            <div class="form-group">
                                <div class="row">
                                    <div class="input__label" style="width: 180px;">
                                        <div class="label">
                                            Mật khẩu
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                    </div>
                                    <div class="input__wrap" style="width: 75%;">
                                        <input class="form-control" name="passwordOld" type="password" value="@ViewBag.passwordOld" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input__label" style="width: 180px;">
                                        <div class="label">
                                            Mật khẩu mới
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                    </div>
                                    <div class="input__wrap" style="width: 75%;">
                                        <input class="form-control" name="passwordNew" type="password" value="@ViewBag.passwordNew" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="input__label" style="width: 180px;">
                                        <div class="label">
                                            Nhập lại mật khẩu mới
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                    </div>
                                    <div class="input__wrap" style="width: 75%;">
                                        <input class="form-control" name="rePasswordNew" type="password" value="@ViewBag.passwordNew" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group login__action" style="text-align: center;">
                                <button type="submit" class="btn btn-submit">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section scripts{
<script>
    function validateFormEdit() {
        var x = document.forms["myFormEdit"]["passwordNew"].value;
        var y = document.forms["myFormEdit"]["rePasswordNew"].value;
        if (x != y) {
            alert("Xác nhận mật khẩu chưa chính xác!");
            return false;
        }
    }
</script>
}