@using PagedList.Mvc

@model PagedList.IPagedList<Web_Cafe.Models.Entities.Order>

@{
    ViewBag.Title = "Lịch sử mua hàng";
}

<div class="breadcrumb">
    <div class="container">
        <a href="/Home/Index" class="li">Trang chủ </a>
        <span class="li active">Tài khoản</span>
    </div>
</div>

<div class="user-profile__wrap sec">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="sidebar-profile">
                    <div class="profiles">
                        <h3 class="headline" style="font-size: 18px;">Tài khoản của</h3>
                        <h3 class="username" style="font-size: 21px;">@ViewBag.fullName</h3>
                    </div>
                    <div class="user-profile__menu">
                        <ul class="user-profile__menu__wrap">
                            <li class="user-profile__item">
                                <a href="/User/Index" class="user-profile__link"><span class="-ap icon-user6 icon"></span> <span class="txt">Thông tin tài khoản</span></a>
                            </li>
                            <li class="user-profile__item">
                                <a href="/User/EditPassword" class="user-profile__link"><i class="icon fa fa-key" aria-hidden="true"></i><span class="txt">Đổi mật khẩu</span></a>
                            </li>
                            <li class="user-profile__item active">
                                <a href="#" class="user-profile__link"><span class="-ap icon-file-text icon"></span> <span class="txt">Quản lý đơn hàng</span></a>
                            </li>
                            <li class="user-profile__item">
                                <a href="/User/Logout" class="user-profile__link" onclick="return confirm('Bạn chắc chắn muốn đăng xuất?')"><i class="icon fa fa-sign-out" aria-hidden="true"></i><span class="txt">Đăng xuất</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="wrap__profile__info">
                    <h2 class="title-profile">Lịch sử mua hàng</h2>
                    <div class="profile-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Mã đơn hàng
                                    </th>
                                    <th class="text-center">
                                        Tổng tiền
                                    </th>
                                    <th class="text-center">
                                        Thời gian mua hàng
                                    </th>
                                    <th class="text-center">
                                        Trạng thái
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-qrcode"></i>
                                            @item.OrderID
                                        </td>
                                        <td class="text-right">
                                            @(item.Amount.HasValue? item.Amount.Value.ToString("N0") : "0")
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.Daytime)
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.OrderStatus)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

