@using PagedList.Mvc

@model PagedList.IPagedList<Web_Cafe.Areas.Admin.Models.DTO.ProductDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Trang chủ</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="form-search">
            @using (Html.BeginForm("Index", "AdminHome", FormMethod.Get, new { }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-5">
                                <div class="">
                                    <input type="text" class="form-control" name="keywords" placeholder="Từ khóa" value="@ViewBag.keywords">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <select class="form-control" name="categoryId">
                                        @foreach (var item in ViewBag.cate)
                                        {
                                            var select = "";
                                            if (item.CategoryID == ViewBag.categoryId)
                                            {
                                                select = "selected";
                                            }
                                            <option @select value="@item.CategoryID">@item.CateName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <input type="text" class="form-control" name="minPrice" placeholder="Giá thấp nhất" value="@ViewBag.minPrice">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <input type="text" class="form-control" name="maxPrice" placeholder="Giá cao nhất" value="@ViewBag.maxPrice">
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="btn-search">
                                    <button type="submit" class="btn btn-default btn-pro" title="Tìm kiếm" style="background-color: #2ea1f8; flex: auto; ">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="~/Admin/AdminHome" class="btn btn-default btn-pro" title="Tải lại" style="background-color: #34a544">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
            @*<form action="Index" method="post" name="" id="">

                </form>*@
        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <a href="~/Admin/AdminHome/Create" class="create-new">
                        <i class="fas fa-plus"></i>
                        Thêm mới
                    </a>
                </div>
                <div class="col-md-6">
                    @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @keywords = @ViewBag.keywords, @categoryId = @ViewBag.categoryId, @minPrice = @ViewBag.minPrice, @maxPrice = @ViewBag.maxPrice }))
                </div>
            </div>
        </div>
        <!--<p>-->
        @*@Html.ActionLink("Thêm mới", "Create", new { @class = "create-new" })*@
        <!--</p>-->


        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th class="text-center">
                        Hình ảnh
                    </th>
                    <th class="text-center">
                        Giá
                    </th>
                    <th class="text-center">
                        Giá khuyến mãi
                    </th>
                    <th>
                        Danh mục
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th class="text-center">
                        <i class="fas fa-cogs"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProName)
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn-primary" onclick="myFunction(@item.ProductID)" data-toggle="modal" data-target="#exampleModalCenter">
                                <i class="fas fa-images"></i>
                            </button>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.PromotionalPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProStatus)
                        </td>
                        <td class="text-center">
                            <a href="~/Admin/AdminHome/Edit/@item.ProductID" title="Sửa">
                                <i class="fas fa-edit" aria-hidden="true"></i>
                            </a>
                            <a href="~/Admin/AdminHome/Delete/@item.ProductID" title="Xóa" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                <i class="fas fa-trash-alt" style="color:red;"></i>
                            </a>

                            @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |

                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">

</div>

@section script{
    <script>
        function myFunction(proId) {
            var url = "/Admin/AdminHome/ShowImage?id=" + proId;
            $("#myModal").load(url, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal("show");
            });

        }
        //$('#myModal').on('shown.bs.modal', function () {
        //    $('#myInput').trigger('focus')
        //})

    </script>
}
