@using PagedList.Mvc

@model PagedList.IPagedList<Web_Cafe.Areas.Admin.Models.DTO.ProductDTO>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách sản phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Trang chủ</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid card card-outline card-info">
        <div class="form-search">
            @using (Html.BeginForm("Index", "AdminHome", FormMethod.Get, new { }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-3">
                                <div class="">
                                    <input type="text" class="form-control" name="keywords" placeholder="ID / Tên sản phẩm" value="@ViewBag.keywords">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <select class="form-control" name="categoryId">
                                        <option value="0">Loại sản phẩm</option>
                                        @foreach (var item in ViewBag.cate)
                                        {
                                            var select = "";
                                            if (item.CategoryID == ViewBag.categoryId)
                                            {
                                                select = "selected";
                                            }
                                            <option @select value="@item.CategoryID">@item.CateName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <select class="form-control" name="proStatus">
                                        <option value="0">Trạng thái</option>
                                        @{ var m = "";
                                            var km = "";
                                            var hh = "";
                                            var khd = "";
                                            if (ViewBag.proStatus == "Mới")
                                            {
                                                m = "selected";
                                            }
                                            else if (ViewBag.proStatus == "Khuyến mãi")
                                            {
                                                km = "selected";
                                            }
                                            else if (ViewBag.proStatus == "Hết hàng")
                                            {
                                                hh = "selected";
                                            }
                                            else if (ViewBag.proStatus == "Không hoạt động")
                                            {
                                                khd = "selected";
                                            }
                                        }
                                        <option @m value="Mới">Mới</option>
                                        <option @km value="Khuyến mãi">Khuyến mãi</option>
                                        <option @hh value="Hết hàng">Hết hàng</option>
                                        <option @khd value="Không hoạt động">Không hoạt động</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <input type="text" class="form-control" name="minPrice" placeholder="Giá thấp nhất" value="@ViewBag.minPrice">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <input type="text" class="form-control" name="maxPrice" placeholder="Giá cao nhất" value="@ViewBag.maxPrice">
                                </div>
                            </div>
                            <div class="col-1">
                                <div class="btn-search">
                                    <button type="submit" class="btn btn-default btn-pro" title="Tìm kiếm" style="background-color: #2ea1f8; flex: auto; ">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="~/Admin/AdminHome" class="btn btn-default btn-pro" title="Tải lại" style="background-color: #34a544">
                                        <i class="fas fa-sync-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>

        @using (Html.BeginForm("Index", "AdminHome", FormMethod.Post, new { }))
        {
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <a href="~/Admin/AdminHome/Create" class="create-new">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </a>
                        <button type="submit" class="btn-delete" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                            <i class="fa fa-trash-alt"></i>
                            Xóa
                        </button>
                    </div>
                    <div class="col-md-6">
                        @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @keywords = @ViewBag.keywords, @categoryId = @ViewBag.categoryId, @minPrice = @ViewBag.minPrice, @maxPrice = @ViewBag.maxPrice }))
                    </div>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            <input type="checkbox" id="checkBoxAll" />
                        </th>
                        <th class="text-center">
                            ID
                        </th>
                        <th class="text-center">
                            Tên sản phẩm
                        </th>
                        <th class="text-center">
                            Hình ảnh
                        </th>
                        <th class="text-center">
                            Giá bán
                        </th>
                        <th class="text-center">
                            Giá khuyến mãi
                        </th>
                        <th class="text-center">
                            Danh mục
                        </th>
                        <th class="text-center">
                            Trạng thái
                        </th>
                        <th class="text-center">
                            <i class="fas fa-cogs"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input type="checkbox" class="checkBoxId" value="@item.ProductID" name="checkBoxId" />
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ProductID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProName)
                                <a href="~/Product/Details/@item.ProductID" target="_blank" title="Xem trước">
                                    <i class="fas fa-link" style="font-size: 11px;"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn-primary" onclick="myFunction(@item.ProductID)" data-toggle="modal" data-target="#exampleModalCenter">
                                    <i class="fas fa-images"></i>
                                </button>
                            </td>
                            <td class="text-right">
                                @*@Html.DisplayFor(modelItem => item.Price)*@
                                @(item.Price.HasValue? item.Price.Value.ToString("N0") : "0")
                            </td>
                            <td class="text-right" style="padding-right:3%">
                                @*@Html.DisplayFor(modelItem => item.PromotionalPrice)*@
                                @(item.PromotionalPrice.HasValue? item.PromotionalPrice.Value.ToString("N0") : "0")
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.CateName)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.ProStatus)
                            </td>
                            <td class="text-center">
                                <a href="~/Admin/AdminHome/Edit/@item.ProductID" title="Sửa">
                                    <i class="fas fa-edit" aria-hidden="true"></i>
                                </a>
                                <a href="~/Admin/AdminHome/Delete/@item.ProductID" title="Xóa" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                    <i class="fas fa-trash-alt" style="color:red;"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <p class="text-center" style="margin: 0; padding-bottom: 4px;">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</p>

    </div>
</section>

<div class="modal fade" id="myModal" role="dialog" aria-hidden="true">

</div>

@section script{
    <script>
        function myFunction(proId) {
            var url = "/Admin/AdminHome/ShowImage?id=" + proId;
            $("#myModal").load(url, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal("show");
            });

        }

        $(document).ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.checkBoxId').prop('checked', true);
                else
                    $('.checkBoxId').prop('checked', false);
            });
        });

    </script>
}
