<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @*<meta name="keywords" content="It, it solution,solution, techonogy,internet" />
        <link href="https://plus.google.com/114644939574462223089" rel="author">*@
    <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
    <meta content="width=device-width, initial-scale=1" name="viewport" id="viewport"></meta>
    @*<meta content="siêu thị smax, smart" name="description">*@
    <meta content="IE=edge" http-equiv="X-UA-Compatible"></meta>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" id="viewport"></meta>
    <meta content="index, follow" name="ROBOTS">
    <!-- General style -->
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css/ap8.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css/nouislider.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">

    <!-- css_custom -->
    <link href="~/Content/css/css_custom.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="common-overlay"></div>
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="brand">
                            <a href="~/Home/Index" title="Logo"><img src="~/Content/images/logo.png" alt="Logo"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 col-right-headtop">
                        <div class="pull-left">
                            <div class="box-search">
                                <div class="form-input">
                                    <form action="~/Home/SearchProduct" method="post">
                                        @{var keywordPro = "";
                                            if (ViewBag.keywordProduct != null)
                                            {
                                                keywordPro = ViewBag.keywordProduct;
                                            }
                                        }
                                        <input type="text" name="keywordProduct" value="@keywordPro" class="form-control" placeholder="Tên sản phẩm ...">
                                        <button class="btn btn__search"><span class="fa fa-search"></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="menu-top pull-right">
                            <div class="col-menu-top">
                                <!-- <div class="hotline"><span class="-ap icon-phone-handset"></span> Hotline: 0966.63.3696</div> -->
                                <div class="header-top__login">
                                    <div class="">
                                        <div class="title">
                                            Tài khoản
                                            <i class="fa fa-user-o" aria-hidden="true" style="font-size: 18px;"></i>
                                        </div>
                                        <ul class="menu-icons__sub">
                                            @{
                                                if (Session["user"] == null)
                                                {
                                                    <li class="menu-icons__sub__item">
                                                        <a class="menu-icon__sub-link" href="/User/Login">
                                                            <span class="icon icon-lock_outline -ap"></span>
                                                            Đăng nhập
                                                        </a>
                                                    </li>
                                                    <li class="menu-icons__sub__item">
                                                        <a class="menu-icon__sub-link" href="/User/Register">
                                                            <span class="icon icon-lock_open -ap"></span>
                                                            Đăng ký
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="menu-icons__sub__item">
                                                        <a class="menu-icon__sub-link" href="/User/Index">
                                                            <span class="icon fa fa-user-o"></span>
                                                            @Session["fullName"]
                                                        </a>
                                                    </li>
                                                    <li class="menu-icons__sub__item">
                                                        <a class="menu-icon__sub-link" href="/User/Logout" onclick="return confirm('Bạn chắc chắn muốn đăng xuất?')">
                                                            <span class="icon fa fa-sign-out"></span>
                                                            Đăng xuất
                                                        </a>
                                                    </li>
                                                                }
                                            }

                                        </ul>
                                    </div>
                                </div>
                                @*Giỏ hàng*@
                                @Html.Action("MiniCart", "Order")
                            </div>
                            <!---->
                        </div>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
        <div class="header-menu">
            <div class="nav-toggle">
                <span class="fa fa-bars"></span>
            </div>
            <div class="header-menu-catg">
                <div class="menu-category">
                    <div class="catalog__list">
                        <ul class="catalog__wrap">
                            <li class="catalog__item active">
                                <a href="~/Home/Index" class="catalog__link">Trang chủ</a>
                            </li>
                            <li class="catalog__item -sub">
                                <a href="~/Home/SearchProduct" class="catalog__link">
                                    Sản phẩm
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <div class="catalog__sub">
                                    <ul class="list-cat__sub">
                                        @Html.Action("MenuChild", "Home")
                                    </ul>
                                </div>
                            </li>
                            <li class="catalog__item"><a href="~/Home/News" class="catalog__link">Tin tức</a></li>
                            <li class="catalog__item"><a href="~/Home/Contact" class="catalog__link">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </header>
    <!-- End menu -->

    @RenderBody()

    <!-- footer -->
    <footer class="footer">
        <!-- End topfoter -->
        <!-- footer -->
        <div class="container">
            <div class="footer__box">
                <div class="">
                    <div class="col-md-3  col-sm-3 col-xs-12 contact-ft">
                        <div class="ct">
                            <div class="logo-ft">
                                <img src="~/Content/images/logo.png" alt="logo">
                            </div>
                            <h3 class="footer__title ">HẠT CÀ PHÊ TỰ NHIÊN</h3>
                            <div class="inf-contact">
                                <div class="contact">
                                    <p class="info ">
                                        <span class="icon -ap icon-location3"></span>
                                        <span class="txt">
                                            <span class="name-header texU disb fow">Địa chỉ: </span>
                                            <span class="disb">236 Hoàng Quốc Việt - Cổ Nhuế - Bắc Từ Liêm - Hà Nội</span>
                                        </span>
                                    </p>
                                </div>
                                <div class="contact">
                                    <p class="info ">
                                        <span class="icon -ap  icon-envelope2"></span>
                                        <span class="txt">
                                            <span class="name-header texU disb fow">Email:</span>
                                            <span class="disb">mycafe@gmail.com</span>
                                        </span>
                                    </p>
                                </div>
                                <div class="contact">

                                    <p class="info ">
                                        <span class="icon fa fa-phone"></span>
                                        <span class="txt">
                                            <span class="name-header texU disb fow"> Phone: </span>
                                            <span class="disb">08.68.33.1111 - 08.68.99.1111</span>
                                        </span>
                                    </p>
                                </div>
                                <ul class="list-social">
                                    <li class="item"><a href="" class="btn"><span class="fa fa-facebook"></span></a></li>
                                    <li class="item"><a href="" class="btn"><span class="fa fa-google"></span></a></li>
                                    <li class="item"> <a href="" class="btn"><span class="fa fa-youtube-play"></span></a></li>
                                    <li class="item"><a href="" class="btn"><span class="fa fa-twitter"></span></a></li>
                                </ul>
                                <div class="cer">
                                    <img src="~/Content/images/dathongbao.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="col-md-9 col-sm-9 col-xs-12">

                        <div class="box-line">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3 class="footer__title ">Chăm sóc khách hàng</h3>
                                <div class="list">
                                    <a href="#" class="url">Mua hàng online</a>
                                    <a href="#" class="url">Mua hàng tại siêu thị SMAX</a>
                                    <a href="#" class="url">Blog</a>
                                    <a href="#" class="url">Giới thiệu</a>
                                    <a href="#" class="url">FAQ</a>
                                </div>
                            </div>
                            <!--/-->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3 class="footer__title ">Chính sách</h3>
                                <div class="list">
                                    <a href="#" class="url">Mua hàng online</a>
                                    <a href="#" class="url">Mua hàng tại siêu thị SMAX</a>
                                    <a href="#" class="url">Blog</a>
                                    <a href="#" class="url">Giới thiệu</a>
                                    <a href="#" class="url">FAQ</a>
                                </div>
                            </div>
                            <!--/-->
                        </div>
                        <div class="regs-frm">
                            <div class="sub">
                                <input type="text" class="form-control" placeholder="Nhập email của bạn để đăng ký nhận tin khuyến mại">
                                <button class="btn btn-regs__frm">Đăng ký</button>
                            </div>
                        </div>
                        <!---->
                        <div class="box-line box-line-2">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h3 class="footer__title ">Hình thức thanh toán</h3>
                                <div class="list">
                                    <ul>
                                        <li><a href=""><img src="~/Content/images/pp.png" alt=""></a></li>
                                        <li><a href=""><img src="~/Content/images/msc.png" alt=""></a></li>
                                        <li><a href=""><img src="~/Content/images/visa.png" alt=""></a></li>
                                        <li><a href=""><img src="~/Content/images/american.png" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <h3 class="footer__title ">Hình thức vận chuyển</h3>
                                <div class="list">
                                    <ul>
                                        <li><a href=""><img src="~/Content/images/ship.jpg" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <!--/-->
                        <!---->
                    </div>
                    <!---->
                </div>

                <div class="copyright">
                    Copyright ® 2021 <a href="#" class="url">MyCafé</a>
                </div>
            </div>
        </div>
        <!-- End footer -->
    </footer>

    <a class="scroll-top"><span class="fa fa-angle-up"></span></a>
    <!-- end footer -->
    <script type="text/javascript" src="~/Content/vendor/js/jquery.2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Content/vendor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/vendor/js/slick.min.js"></script>
    <script type="text/javascript" src="~/Content/vendor/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Content/vendor/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="~/Content/vendor/js/jquery.elevateZoom-3.0.8.min.js"></script>
    <script type="text/javascript" src="~/Content/vendor/js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="~/Content/vendor/js/nouislider.min.js"></script>
    <script type="text/javascript" src="~/Content/js/custom.js"></script>
    <script src="~/Content/vendor/js/jquery-migrate-1.0.0.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
