
@{
    ViewBag.Title = "ShoppingCart";
}

@*<div class="header__second">
    <div class="container">
        <div class="logo pull-left">
            <a class="image">
                <img src="./images/logo.png" alt="">
            </a>
            <h1 class="name hidden">Thời trang Bishop</h1>
        </div>
        <div class="back__home pull-right">
            <a href="#" class="nav"><span class="-ap icon-arrow-back"></span> Trở về trang chủ </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>*@
<!-- End menu -->
<div class="sec sec__shopcart">

    <div class="container">
        <div class="nav-steps">
            <div class="nav-step__item waiting">
                <span class="number">1</span>
                <span class="txt">Giỏ hàng</span>
            </div>
            <div class="nav-step__item">
                <span class="number">2</span>
                <span class="txt">Nhập thông tin</span>
            </div>
            <div class="nav-step__item">
                <span class="number">3</span>
                <span class="txt">Xác nhận thông tin</span>
            </div>
            <div class="nav-step__item">
                <span class="number">4</span>
                <span class="txt">Hoàn thành</span>
            </div>
        </div>
        <div class="sub-name-step">Giỏ hàng của tôi</div>
        @{
            ViewBag.sumShoppingCart = 0;
            ViewBag.number_cart = 0;
            ViewBag.shoppingcart = new List<Web_Cafe.Models.DTO.ProductExtend>();

            if (Session["shopping_cart"] != null)
            {
                ViewBag.shoppingcart = (List<Web_Cafe.Models.DTO.ProductExtend>
                                                       )Session["shopping_cart"];
                ViewBag.number_cart = ViewBag.shoppingcart.Count;

            }
            <div class="row">
                <div class="sec__shopcart__info col-md-8 col-sm-12 col-xs-12">
                    <div class="box-user__info panel">
                        <div class="content-info-check">
                            <div class="table-product">
                                <div class="thead title">
                                    <div class="td col-md-6 col-sm-6 col-xs-6">
                                        <span class=""> @(ViewBag.number_cart) Sản phẩm</span>
                                    </div>
                                    <div class="td col-md-2 col-sm-3 col-xs-3">
                                        <span class="textr">Đơn giá</span>
                                    </div>
                                    <div class="td col-md-3 col-sm-3 col-xs-3">
                                        <span class="">Số lượng</span>
                                    </div>
                                </div>
                                <div class="tbody content ">

                                    @foreach (var item in ViewBag.shoppingcart)
                                    {
                                        <h1 hidden> @(ViewBag.sumShoppingCart+=(item.Product.Price - item.Product.PromotionalPrice))</h1>
                                        <div class="tr">
                                            <div class="td col-md-6 col-sm-6 col-xs-6">
                                                <div class="img-product">
                                                    <img src="~/Images/@item.img_path" alt="@item.Product.ProName">
                                                </div>
                                                <div class="sub__product">
                                                    <p class="product__name">@item.Product.ProName</p>
                                                    <p class="dongia hidden-pc"> @(item.Product.Price - item.Product.PromotionalPrice)</p>
                                                </div>
                                            </div>
                                            <div class="td col-md-2 col-sm-3 col-xs-3 hidden-mb">
                                                <p class="dongia"> @(item.Product.Price - item.Product.PromotionalPrice)</p>
                                            </div>
                                            <div class="td col-md-3 col-sm-2 col-xs-2">
                                                <div class="product__quantity">
                                                    <button class="btn-minus btn">
                                                        -
                                                    </button>
                                                    <input class="input-number" value="1" type="text">
                                                    <button class="btn-plus btn">
                                                        +
                                                    </button>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>
                                            <div class="td col-md-1 col-sm-1 col-xs-1">
                                                <a href="" class="btn-delete"><span class="icon -ap icon-trash2"></span></a>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-price-total">
                    <div class="name-top__step">Thông tin đơn hàng</div>
                    <div class="">
                        @*<div class="price-provi">
                            <div class="pull-left">Tạm tính :</div>
                            <div class="pull-right">@(ViewBag.sumShoppingCart)</div>
                        </div>*@
                        <div class="price-total">
                            <div class="pull-left">Thành tiền :</div>
                            <div class="pull-right">@(ViewBag.sumShoppingCart)</div>
                        </div>
                    </div>
                    <div class="list-button">
                        <a class="btn btn__next" href="~/Home/ShoppingCart_ImportInfo">Tiến hành thanh toán</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<a class="scroll-top"><span class="fa fa-angle-up"></span></a>
