@model Web_Cafe.Models.DTO.ProductExtend

@{
    ViewBag.Title = Model.Product.ProName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
    <div class="container">
        <a href="~/Home/Index" class="li">Trang chủ </a>
        <a href="~/Home/Category/@Model.Product.CategoryID" class="li">@Model.Product.Category.CateName </a>
        <span class="li active">@Model.Product.ProName</span>
    </div>
</div>
<!---->
<section class="sec sec__product__detail">
    <div class="container">
        <div class="row">
            <div class="product__view__image col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-sm-9 col-xs-9">
                        <div class="product__view__image--list">
                            <a href="~/Images/@Model.img_path" data-fancybox="gallery" class="fancybox">
                                <img src="~/Images/@Model.img_path" class="elevate__zoom" data-zoom-image="/Images/@Model.img_path" id="elevate__zoom" title="@Model.Product.ProName">
                            </a>
                            <div class="hidden">
                                @{
                                    foreach (var item in Model.List_img_path)
                                    {
                                        <a href="~/Images/@item" data-fancybox="gallery" class="fancybox">
                                            <img src="~/Images/@item">
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-3">
                        <div class="product__view__image--thumb" id="image-additional-carousel">
                            <div class="item">
                                @{
                                    foreach (var item in Model.List_img_path)
                                    {
                                        <a href="~/Images/@item" data-image="/Images/@item" class="elevate__zoom">
                                            <img src="~/Images/@item" data-zoom-image="/Images/@item" title="@Model.Product.ProName">
                                        </a>
                                    }
                                }
                            </div>
                            <div class="item">
                                @{
                                    foreach (var item in Model.List_img_path)
                                    {
                                        <a href="~/Images/@item" data-image="/Images/@item" class="elevate__zoom">
                                            <img src="~/Images/@item" data-zoom-image="/Images/@item" title="@Model.Product.ProName">
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="product__view__content col-md-6 col-sm-6 col-xs-12">
                <h2 class="product__view__name">@Model.Product.ProName</h2>
                <div class="product__price product__price__view">
                    <span class="product__price--txt">Giá bán</span>
                    @{
                        if (Model.Product.ProStatus == "Khuyến mãi" && Model.Product.StartTime <= DateTime.Now)
                        {
                            <div class="product__price__regular">
                                @Model.Product.PromotionalPrice.Value.ToString("N0")<span class="unit">đ</span>
                            </div>
                            <div class="product__price__old">@Model.Product.Price.Value.ToString("N0")<span class="unit">đ</span></div>
                        }
                        else
                        {
                            <div class="product__price__regular">@Model.Product.Price.Value.ToString("N0")<span class="unit">đ</span></div>

                        }
                    }
                </div>

                <div class="product__view__info">
                    <p class="info">
                        Tình trạng:
                        @{ var status = "";
                            if (Model.Product.ProStatus == "Khuyến mãi" && Model.Product.StartTime > DateTime.Now)
                            {
                                status = "Mới";
                            }
                            else
                            {
                                status = Model.Product.ProStatus;
                            }
                            <span class="name">@status</span>
                        }
                    </p>
                </div>

                <div class="product__view__desc">
                    <div class="product__desc__title bold">Mô tả:</div>
                    <div class="product__shortdesc__txt">
                        @Html.Raw(Model.Product.Highlight)
                    </div>
                </div>

                <div class="product__quantity product__view__quantity">
                    <div class="name">Số lượng:</div>
                    <button class="btn-minus btn">
                        -
                    </button>
                    <input type="text" class="input-number" value="1">
                    <button class="btn-plus btn">
                        +
                    </button>
                    <div class="clearfix"></div>
                </div>

                <a class="product__view__button__cart"><span class="icon fa fa-shopping-bag"></span>Mua ngay</a>
            </div>
        </div>

        <div class="product__detail__content">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">THÔNG TIN SẢN PHẨM</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <article class="article">
                        <div class="std">
                            @Html.Raw(Model.Product.ProDescription)
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <div class="sec product-list product-list__prsame">
            <div class="product-list__head">
                <h2 class="product-list__title">
                    SẢN PHẨM LIÊN QUAN
                </h2>
                <div class="nav__slider nav-slider__product">
                    <div class="nav prev">
                        <span class="icon fa fa-angle-left"></span>
                    </div>
                    <div class="nav next">
                        <span class="icon fa fa-angle-right"></span>
                    </div>
                </div>
            </div>

            <div class="product-list__wrap slider__product">
                @{
                    foreach (var item in ViewBag.ListProducExtendCategory)
                    {
                        <div class="product__item">
                            <div class="w">
                                <div class="product__image">
                                    <a href="#" class="product__link">
                                        <img src="~/Images/@item.img_path">
                                    </a>
                                    <div class="product-item__actions">
                                        <button class="btn btn-cart">Thêm vào giỏ</button>
                                    </div>
                                    <a href="~/Product/Details/@item.Product.ProductID" class="product__overlay" title="@item.Product.ProName"></a>
                                    @{ var statusRelate = "";
                                        if (item.Product.ProStatus == "Khuyến mãi" && item.Product.StartTime > DateTime.Now)
                                        {
                                            statusRelate = "Mới";
                                        }
                                        else
                                        {
                                            statusRelate = item.Product.ProStatus;
                                        }
                                        <div class="product__sale">@statusRelate</div>
                                    }
                                </div>
                                <h3 class="product__name">
                                    <a href="~/Product/Details/@item.Product.ProductID" title="Chi tiết">@item.Product.ProName</a>
                                </h3>
                                <div class="product__price">
                                    <div class="product__price__regular">
                                        @item.Product.Price.ToString("N0")
                                        <span class="unit">đ</span>
                                    </div>
                                    @{ if (item.Product.ProStatus == "Khuyến mãi" && item.Product.StartTime <= DateTime.Now)
                                        {
                                            <div class="product__price__old">
                                                @item.Product.PromotionalPrice.ToString("N0")
                                                <span class="unit">đ</span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
</section>

@section scripts{
    <script>
        
    </script>    
}